<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73004250246-9mjj2u4akmu7gsc9q3qi60fh9bhvuen7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73004250246-9mjj2u4akmu7gsc9q3qi60fh9bhvuen7</string>
	<key>API_KEY</key>
	<string>AIzaSyABUPGYYhXqDFuhO9gaizQEPwUQe_C4RZg</string>
	<key>GCM_SENDER_ID</key>
	<string>73004250246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbr.phonedialer.phoneDialer</string>
	<key>PROJECT_ID</key>
	<string>neumorphic-phone-dialer-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>neumorphic-phone-dialer-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73004250246:ios:abd66ccace3303a5670d07</string>
</dict>
</plist>